ul{
  list-style: none;
}

button {
  background: transparent;
  //margin-left: 90%;
  margin-top: 1%;
  padding: 0.5% 1%;
  border: none;
  border-radius: 29%;
  border-bottom: 1px solid #9c9449;
  border-top: 1px solid #9c9449;
}

button[_ngcontent-bxo-c1] {
  background: transparent;
  margin-top: 1%;
  padding: 5% 2%;
  border: none;
  border-radius: 29%;
  border-bottom: 1px solid #9c9449;
  border-top: 1px solid #9c9449;
}


#admin {
  display: flex;
  //margin-top: 29%;
  justify-content: center;
  margin: 9% auto;
}


#buttons {
  display: flex;
  justify-content: center;
}

li {
  margin: 12% auto;
  border: 0.1px solid darkgray;
  padding: 12px 14px;
  width: 159%;
}

.list-group {
  display: initial;
  justify-content: center;
}
