button {
  background: transparent;
  margin-left: 30%;
  margin-top: 2%;
  padding: 2% 7%;
  border: none;
  border-radius: 29%;
  border-bottom: 1px solid #9c9449;
  border-top: 1px solid #9c9449;
}
